.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #232323;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 200px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #FEE193;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .cart {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }

  .cartIcon {
    margin-right: 25px;
  }
  
  .cartCount {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    margin-right: 15px;
  }
  