.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 140px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FEE193;
  display: inline-block;
  text-transform: lowercase;
  position: relative;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  transform: perspective(200px) rotateX(15deg);
  text-decoration: none;
}

  
.cart {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

  .cartIcon {
    margin-right: 35px;
    color: #FF8310;
  }
  
  .cartCount {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  